[build]
builder = "nixpacks"
buildCommand = "npm install && npm run build"
watchPatterns = ["src/**"]

[deploy]
startCommand = "npm start"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on-failure"
restartPolicyMaxRetries = 3
